main {
    padding: 100px;
    display: flex;
    justify-content: space-between;
    font-family: sans-serif;
}

.slider {
    width: 800px;
    display: flex;
}

.description {
    width: 50%;
}

.slider .slider__images {
    width: 91px;
}

.slider .slider__images img {
    width: 90px;
    height: 130px;
    margin-top: 30px;
}


.slider .slider__switch-button {
    width: 100%;
    text-align: center;
}

.slider .slider__switch-button button {
    height: 60px;
    transform: rotate(90deg);
    font-size: 20px;
    margin-top: 30px;

}

.slider .slider__main-image img {
    margin-left: 110px;
    width: 370px;
    height: 600px;
}


.slider .slider__button {
    width: 40px;
    height: 30px;
    background: white;
    border: 2px solid #ebebeb;
}

.description {
    width: 800px;
}

.description .description__links {

    margin-top: 25px;
}

.description .description__links a {
    margin-right: 20px;
    text-decoration: none;
    color: #1175e7;
}

.description .description__price {
    display: flex;
    margin-top: 56px;
}

.description__header .description__h {
    letter-spacing: 3px;
}

.description .description__price p {
    margin-right: 20px;
    font-size: 18pt;
}

.description .description__price .description__p-line-through {
    text-decoration: line-through;
    color: #bfbebe;
}

.description .description__price .description__p {
    color: #9a9b9b;
}

.description .description__price .description__p-promo {
    margin-left: 36px;
}


.description .description__price .description__p-promo span {
    font-size: 15pt;

}

.description .description__available {
    background: #f4f4f4;
    padding: 20px;
    width: 400px;
}

.description .description__available .description__span img {
    width: 32px;
    height: 25px;
    vertical-align: middle;
}

.description .description__buttons {
    margin-top: 49px;
}

.description .description__buttons button {
    min-width: 240px;
    min-height: 40px;
    margin-right: 20px;
    font-size: 13pt;
}

.description .description__buttons .description__button-basket {
    color: white;
    background: #006be5;
    border: none;
}

.description .description__buttons .description__button-favorites {
    background: none;
    border: 2px solid #d9d9d9;
}

.description .description__text {
    width: 60%;
    margin-top: 40px;
}

.description .description__images {
    margin-left: 21px;
}

.description .description__share {
    display: flex;
    align-items: center;
}

.description__share .description__social {
    margin-left: 22px;
}

.description__share .description__social a {
    text-decoration: none;
}


.description .description__share img {
    vertical-align: middle;
    width: 35px;
    height: 35px;
    margin-right: 10px;
}


.description .description__count {
    width: 46px;
    height: 32px;
    background-image: url('../img/7.png');
    background-repeat: no-repeat;
    display: inline-block;
    text-align: center;
    vertical-align: middle;
}

.description .description__count p {
    margin-top: 8px;
    font-size: 10pt;
}

.description__product-count-block {
    width: 300px;
}

.description__product-count-block {
    margin-top: 50px;
}

.description__product-count-block .description__count-buttons {
    width: 30px;
    height: 30px;
    background: none;
    border: 1px solid #cacaca;
    cursor: pointer;
}

.description__product-count-block .description__product-count {
    height: 28px;
    width: 50px;
    padding: 0;
    text-align: center;
    margin: 0;
    border: 1px solid #cacaca;
}




