@font-face {
    font-family: "WebFont1";
    src: url(circe_600.woff2) format("woff2");
    font-weight: bold;

}

@font-face {
    font-family: "WebFont2";
    src: url(circe_700.woff2) format("woff2");
    font-weight: bold;

}

@font-face {
    font-family: "WebFont3";
    src: url(circe_300.woff2) format("woff2");
    font-weight: bold;

}

main {
    padding: 100px;
    display: flex;
    justify-content: space-between;

}

.slider {
    width: 800px;
    display: flex;
}

.description {
    width: 50%;
}

.slider .slider__images {
    width: 91px;
}

.slider .slider__images img {
    width: 90px;
    height: 130px;
    margin-top: 30px;
}


.slider .slider__switch-button {
    width: 100%;
    text-align: center;
}

.slider .slider__switch-button button {
    height: 60px;
    transform: rotate(90deg);
    font-size: 20px;
    margin-top: 30px;

}

.slider .slider__main-image img {
    margin-left: 110px;
    width: 370px;
    height: 500px;
    transition: .3s;
}


.slider .slider__button {
    width: 40px;
    height: 30px;
    background: white;
    border: 2px solid #ebebeb;
}

.description {
    width: 800px;
}

.description .description__links {

    margin-top: 25px;
}

.description__header h1 {
    font-family: WebFont2, sans-serif;
    font-weight: bold;
}

.description .description__links a {
    margin-right: 20px;
    text-decoration: none;
    color: #1175e7;
    font-family: WebFont3, sans-serif;
    font-weight: bolder;
}

.description .description__price {
    display: flex;
    margin-top: 56px;
}

.description__header .description__h {
    letter-spacing: 3px;
}

.description .description__price p {
    margin-right: 20px;
    font-size: 18pt;
    font-family: WebFont1, sans-serif;
}

.description .description__price .description__p-line-through {
    text-decoration: line-through;
    color: #bfbebe;
}

.description .description__price .description__p {
    color: #9a9b9b;
}

.description .description__price .description__p-promo {
    margin-left: 36px;
}


.description .description__price .description__p-promo span {
    font-size: 15pt;
    font-family: WebFont3, sans-serif;
}

.description .description__available {
    background: #f4f4f4;
    padding: 20px;
    width: 400px;
    font-family: WebFont3, sans-serif;
}

.description .description__available .description__span img {
    width: 32px;
    height: 25px;
    vertical-align: middle;
}

.description .description__buttons {
    margin-top: 49px;
}

.description .description__buttons button {
    min-width: 240px;
    min-height: 40px;
    margin-right: 20px;
    font-size: 13pt;
}

.description .description__buttons .description__button-basket {
    color: white;
    background: #006be5;
    border: none;
}

.description .description__buttons .description__button-favorites {
    background: none;
    border: 2px solid #d9d9d9;
}

.description .description__text {
    width: 60%;
    margin-top: 40px;
    font-family: WebFont3, sans-serif;
}

.description .description__images {
    margin-left: 21px;
}

.description .description__share {
    display: flex;
    align-items: center;
    font-family: WebFont3, sans-serif;
}

.description__share .description__social {
    margin-left: 22px;
    display: flex;
    object-fit: cover;
}

.description__share .description__social a {
    text-decoration: none;
}


.description .description__share img {
    vertical-align: middle;
    width: 37px;
    height: 35px;
    margin-right: 10px;
    object-fit: fill;
}


.description .description__count {
    min-width: 46px;
    height: 32px;
    text-align: center;
    vertical-align: middle;
    background: #efefef;
}

.description__count-block {
    display: flex;
    margin-left: -30px;

}

.description .description__rectangle {
    background: none;
    border-radius: 10px;
    padding: 20px;
    position: relative;
    color: #efefef;

}

.description .description__rectangle::after {
    content: '';
    position: absolute;
    right: 0;
    bottom: 18px;
    border: 6px solid transparent;
    border-right: 8px solid #efefef;
}


.description .description__count p {
    margin-top: 8px;
    font-size: 10pt;
}

.description__product-count-block {
    width: 300px;
}

.description__product-count-block {
    margin-top: 50px;
}

.description__product-count-block .description__count-buttons {
    width: 30px;
    height: 30px;
    background: none;
    border: 1px solid #cacaca;
    cursor: pointer;
}

.description__product-count-block .description__product-count {
    height: 28px;
    width: 50px;
    padding: 0;
    text-align: center;
    margin: 0;
    border: 1px solid #cacaca;
}




